<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VM/test/test/com/sun/max/vm/compiler/c1x/C1XTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.com.sun.max.vm.compiler.c1x.C1XTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-XX:+GenerateLIRXIR -XX:+GenerateUnresolvedLIRXIR -c1x-optlevel=0 -fail-fast=false -XX:+PrintCFGToFile -XX:+DetailedAsserts -XX:-PrintCompilation -print-bailout -XX:TraceLinearScanLevel=0 -XX:-PrintAssembly java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VM"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-d64 -ea"/>
</launchConfiguration>
