<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VM/test/test/com/sun/max/vm/compiler/JavaTester.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test.com.sun.max.vm.compiler.JavaTester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-scenario=target&#10;-run-scheme-package=all&#10;-native-tests&#10;jtt/bytecode &#10;jtt/except &#10;jtt/hotpath&#10;jtt/jasm&#10;jtt/jdk&#10;jtt/jni&#10;jtt/jvmni&#10;jtt/lang &#10;jtt/loop&#10;jtt/max&#10;jtt/micro &#10;jtt/optimize&#10;jtt/reflect &#10;jtt/threads"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VM"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-d64 -ea"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:VM}/test"/>
</launchConfiguration>
